node_modules
build
dist
.env
.env.local
.turbo
.vercel
.next/
.fleet
.vscode
out/
.DS_Store
*.d.ts
!packages/core/src/svg.d.ts
apps/figma-plugin/manifest.json
packages/react/src/icons/**/*.ts
packages/react/src/icons/**/*.tsx